.redirect-01 {
  width: 100%;
  text-align: right;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "regular";
  font-size: 10pt;
  color: #ffffff;
  text-decoration: none;
}
.redirect-01:hover {
  opacity: 0.8;
}

.redirect-01:disabled {
  color: #6f808c;
  cursor: default;
}
.redirect-02 {
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "regular";
  font-size: 10pt;
  color: #ffffff;
  text-decoration: none;
}
.redirect-02:hover {
  opacity: 0.8;
}

.redirect-02:disabled {
  color: #6f808c;
  cursor: default;
}
